<div class="panel tab-pane" id="tab_meals_settings_content">
    <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-font-bold">Ementa</h3>
        <div class="c-line-left"></div>
    </div>
    <form id="form_meals_settings" class="panel panel-success tab-pane">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align:center;">
                Definições
                {% if user_data.level == 'ADMIN' or user_data.level == 'OWNER' %}
                    <button id="button_meals_settings" type="submit" onclick="validateMealsSettings(this)" class="btn btn-xs btn-info c-btn-square c-btn-uppercase c-btn-bold" style="float: right; padding-bottom:2px; margin-top:-3px;">Editar</button>
                {% endif %}
                <a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a>
            </h3>
        </div>
        <fieldset disabled="disabled" class="panel-body">
            <div class="c-shop-form-1">
                <!-- BEGIN: ADDRESS FORM -->
                <div class="">
                    <div class="c-content-divider c-bg-dark-1" style="margin:0%; top:100%; "></div>
                    <div class="row" style="justify-content: center; align-items: center;">
                        <div class="form-group col-md-3" style="margin-top: 15px; text-align:center;">
                            <label class="control-label center">Prioridade da Ementa:</label>
                        </div>
                        <div class="col-md-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="meal_settings_priority" id="meal_settings_priority_1" value="WEIGHT" {% if  data.meals_settings.content.priority == 'WEIGHT' %} checked="" {% endif %}>
                                    Diminuir Peso Total.
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="meal_settings_priority" id="meal_settings_priority_2" value="PRICE" {% if data.meals_settings.content.priority == 'PRICE' %} checked="" {% endif %}>
                                    Diminuir Custo Total.
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="meal_settings_priority" id="meal_settings_priority_3" value="NONE" {% if  data.meals_settings.content.priority == 'NONE' or not data.meals_settings.content.priority %} checked="" {% endif %}>
                                    Nenhuma.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="c-content-divider c-bg-dark-1" style="margin:0%; top:100%; "></div>
                    <div class="row" style="justify-content: center; align-items: center; text-align: center">
                        <h1 class="control-label center">Lista de Refeições:</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="c-content-divider c-bg-dark-1" style="margin:0%; top:100%; "></div>
                            {% for meal_time in data.meals_settings.content.meals %}
                                <div class="row">
                                    <div class="form-group col-md-1" style="margin-top: 15px; text-align:center;"></div>
                                    <div class="form-group col-md-4" style="margin-top: 10px; margin-bottom: 0">
                                        <div class="c-checkbox-inline">
                                            <div class="c-checkbox has-info">
                                                <input {% if 'BREAKFAST' in meal_time %} checked {% endif %} name="meal_time_{{ forloop.counter }}_input_type_1" type="checkbox" id="meal_time_{{ forloop.counter }}_input_type_1" class="c-check">
                                                <label for="meal_time_{{ forloop.counter }}_input_type_1">
                                                    <span style="display: none;" class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    Pequeno Almoço
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3" style="margin-top: 10px; margin-bottom: 0">
                                        <div class="c-checkbox-inline">
                                            <div class="c-checkbox has-info">
                                                <input {% if 'LUNCH' in meal_time %} checked {% endif %} name="meal_time_{{ forloop.counter }}_input_type_2" type="checkbox" id="meal_time_{{ forloop.counter }}_input_type_2" class="c-check">
                                                <label for="meal_time_{{ forloop.counter }}_input_type_2">
                                                    <span style="display: none;" class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    Almoço
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3" style="margin-top: 10px; margin-bottom: 0">
                                        <div class="c-checkbox-inline">
                                            <div class="c-checkbox has-info">
                                                <input {% if 'DINNER' in meal_time %} checked {% endif %} name="meal_time_{{ forloop.counter }}_input_type_3" type="checkbox" id="meal_time_{{ forloop.counter }}_input_type_3" class="c-check">
                                                <label for="meal_time_{{ forloop.counter }}_input_type_3">
                                                    <span style="display: none;" class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    Jantar
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-1" style="margin-top: 18px; text-align:left; height: 100%;">
                                        <label onclick="removeMealTime(this)" class="glyphicon glyphicon-remove control-label" style="pointer-events: none; cursor: pointer; padding-right:0%"></label>
                                    </div>
                                </div>
                                <div class="c-content-divider c-bg-dark-1" style="margin:0%; top:100%; "></div>
                            {% endfor %}
                            <div class="row" style="display: flex; justify-content: center;">
                                <div id="add-user_{{ data.general_team.content|length }}" onclick="addMealTime(this)" class="btn c-btn-grey-2 c-btn-uppercase c-btn-bold c-btn-border-2x" style="pointer-events: none; text-align:center; margin:1%;">
                                    Adicionar Refeição
                                </div>
                            </div>
                            <div class="c-content-divider c-bg-dark-1" style="margin:0%; top:100%; "></div>
                        </div>
                    </div>
                </div>
                <!-- END: ADDRESS FORM -->
            </div>
        </fieldset>
    </form>
</div>